body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; /* Hace que los ítems del menú estén en una línea horizontal */
    margin-right: 20px; /* Espacio entre los ítems del menú */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}







h1{
   color:blue;
}
body{
     background-color:pink;
}
button{
       color:Crimson;
}
button{
       background-color:orange;
}
table{
      border-color:gold;
}
p{
font-size: xl-large;
font-family:Bell MT;
color:green;
}
img.img-peque{
width:150px;
height:145px;
}
p.parrafito{
font-size:xl-large;
font-family:Arial;
color:gold;
}
img.img-peque2{
border-radius:100px;
width:260px;
height:200px;
}

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}

div.container{
  height: 500px;
  width: 100%;
  background-color:white;
  display: flex;
  justify-content: space-between;
}
div.div-1{
  height: 175px;
  background-color: red;
  flex: 1;
}
div.div-2{
  height: 175px;
  background-color: green;
  flex: 1;
  margin-left:25px;
}
div.div-3{
  height: 175px;
  background-color: yellow;
  flex: 1;
  margin-left:25px;
}

img.img-p{
  width:350px;
height:350px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
aside{width:40%;
padding-left: 0.5rem;
margin-left: 0.5rem;
float: right;
box-shadow: inset 5px 0 5px -5px #29627e;
font-style:italic ;
color:#29627e}

div.divisioncita{
	border: 11px groove rgba(0, 195, 255, 0.603);
	padding-top: 0.5px;
    padding-right:10px ;
	padding-bottom:0.5px;
	padding-left: 10px;
	margin-top:10px ;
	margin-right: 50px;
	margin-bottom:10px ;
	margin-left: 50px ;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri,;
	background-color: rgb(206, 218, 210);
	text-align:justify;
	}
div.divisioncita2{
	border:20px groove red ;
	padding: 35px 350px 35px 350px ;
	margin: 50px 250px 50px 250px;
}

div.navegacion{
	border:11px groove #f00;
	padding-top: 0.5px;
    padding-right:10px ;
	padding-bottom:0.5px;
	padding-left: 10px;
	margin-top:10px ;
	margin-right: 50px;
	margin-bottom:10px ;
	margin-left: 50px ;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri,;
	background-color: rgb(206, 218, 210);
	text-align:justify;
}

table.table{

}









